{% extends 'layout.html.twig' %}

{% block content %}

	  <div class="alert alert">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    <strong>Warning!</strong> Best check yo self, you're not looking too good.
	  </div>
	  <div class="alert alert-error">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    <strong>Warning!</strong> Best check yo self, you're not looking too good.
	  </div>
	  <div class="alert alert-success">
	    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    <strong>Warning!</strong> Best check yo self, you're not looking too good.
	  </div>

	<h2>Hello {{ name }}!</h2>

{% endblock %}