    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <!-- Be sure to leave the brand out there if you want it shown -->
          <a class="brand" href="/">{{ title }}</a>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse collapse">

            <!-- .nav, .navbar-search, .navbar-form, etc -->
            <ul class="nav">
                <li class="{{ home_active }}"><a href="/">Home</a></li>
                <li class="{{ link1_active }}"><a href="/link1">Link1</a></li>
                <li class="{{ link2_active }}"><a href="/link2">Link2</a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li class="divider"></li>
                      <li class="nav-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav pull-right">
                <form class="navbar-search pull-left" action="">
                  <input type="text" class="search-query span2" placeholder="Search" data-provide="typeahead">
                </form>
            </ul>
          </div>
        </div>
      </div>
    </div>